@model MVC2.Models.Post

@{
    ViewBag.Title = "Details";
}
		
		<section class="text-block">
			<div class="light-bg">
				<div class="container">
					<h2 class="with-border">Blog single <small class="color">/ first version</small></h2>
					<div class="row-fluid">
						<div class="span9">
							<div class="thumbnail">
								<div class="img-wrap">
									<img src="~/griny/images/bg4.jpg" alt=""/>
								</div>	
								<h3>Lorem ipsum dolor sit amet</h3>
								<div class="info-panel clearfix">
									<span class="pull-left"><time datetime=""><i class="icon-calendar "></i> Sep 19, 2013</time></span>
									<span class="pull-right"><i class="icon-user"></i> By Rick </span>
								</div>	
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac interdum ligula. Nullam iaculis dictum ullamcorper. In vitae pellentesque massa. Vivamus viverra libero dapibus, sodales lectus a, consectetur ante. Pellentesque diam ante, egestas at suscipit vel, aliquam sit amet massa</p>
								<p> Integer adipiscing cursus mauris at dictum. Nunc nibh lacus, interdum eget erat vel, tempor ultrices risus. Nullam ultrices ante sed est porttitor semper. Nunc blandit aliquet lectus nec porttitor. Morbi hendrerit est in lectus auctor volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse adipiscing sem ac ligula semper, ac dictum mauris pulvinar. Nulla semper diam libero, a rhoncus lectus faucibus at. Praesent vitae elit condimentum, accumsan sem in, scelerisque ipsum. Morbi gravida purus augue, eu faucibus nisl egestas in. Vestibulum nisl nisl, gravida suscipit aliquet vitae, bibendum quis magna. Donec mi enim, varius nec viverra rhoncus, congue et augue.</p>
								
								<p>Nulla quis ante convallis, bibendum est vel, imperdiet dui. Duis faucibus rhoncus ultricies. Ut molestie molestie leo, in elementum arcu viverra ac. Etiam ac sapien hendrerit, consectetur tortor et, viverra est. Praesent fringilla, nunc nec aliquet vulputate, enim neque dapibus ligula, sit amet feugiat dui nibh ut augue. Ut luctus justo et orci malesuada pellentesque. Phasellus congue consectetur interdum. Fusce et justo id velit posuere fringilla. Fusce sodales vehicula diam, vel vehicula erat tempus ut. Vestibulum cursus sem et neque bibendum, ut tincidunt urna venenatis. Vestibulum eget porttitor erat. </p>
								
								<p>Praesent ullamcorper, orci vel condimentum gravida, sapien nunc rutrum nisl, vel feugiat felis justo quis mi. Nulla id vulputate eros. Proin dapibus nulla arcu, quis ultrices leo sagittis at. Integer vitae augue adipiscing, mollis elit vitae, accumsan dolor. Nulla sodales viverra condimentum. Praesent convallis massa id ligula fringilla pulvinar. Sed quis interdum mi. Vivamus ultricies risus orci, et rhoncus eros semper sed. Pellentesque porttitor ac tellus sit amet sodales. Sed luctus nulla at scelerisque aliquam. Mauris ligula nulla, laoreet et turpis ut, commodo fringilla metus. In consectetur sit amet quam eu aliquet. Cras in sapien augue. Vivamus convallis lectus velit. </p>
								
							</div>	
							
							<div class="section">
								<h3 class="with-border"><i class="icon-comments"></i> 5 comments</h3>
								<div class="section comments-block">
									<div class="media">
										<a class="pull-left" href="#">
											<img class="media-object" src="~/griny/images/team.jpg">
										</a>
										<div class="media-body">
											<div class="clearfix">
												<h4 class="media-heading">Admin</h4>
												<p>If you don't like this border of the comment block, remove <span class="code">.comments-block</span> class.</p>
												<time datetime="" class="pull-left">57 minutes ago</time>
												<a href="#" class="pull-right"><i class="icon-share-alt"></i> Reply</a>
											</div>	
										</div>
									</div>
									<div class="media">
										<a class="pull-left" href="#">
											<img class="media-object" src="~/griny/images/team.jpg">
										</a>
										<div class="media-body">
											<div class="clearfix">
												<h4 class="media-heading">Admin</h4>
												<p>In varius eros nibh, sed euismod dolor congue vel.</p>
												<time datetime="" class="pull-left">50 minutes ago</time>
												<a href="#" class="pull-right"><i class="icon-share-alt"></i> Reply</a>
											</div>
											<div class="media">
												<a class="pull-left" href="#">
													<img class="media-object" src="~/griny/images/team2.jpg">
												</a>
												<div class="media-body">
													<div class="clearfix">
														<h4 class="media-heading">Mili Sofier</h4>
														<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis....</p>
														<time datetime="" class="pull-left">45 minutes ago</time>
														<a href="#" class="pull-right"><i class="icon-share-alt"></i> Reply</a>
													</div>	
												</div>
											</div>
											<div class="media">
												<a class="pull-left" href="#">
													<img class="media-object" src="~/griny/images/team2.jpg">
												</a>
												<div class="media-body">
													<div class="clearfix">
														<h4 class="media-heading">Mili Sofier</h4>
														<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis....</p>
														<time datetime="" class="pull-left">39 minutes ago</time>
														<a href="#" class="pull-right"><i class="icon-share-alt"></i> Reply</a>
													</div>	
												</div>
											</div>
										</div>
									</div>
									<div class="media">
										<a class="pull-left" href="#">
											<img class="media-object" src="~/griny/images/team3.jpg">
										</a>
										<div class="media-body">
											<div class="clearfix">
												<h4 class="media-heading">Betty Simpson</h4>
												<p>In varius eros nibh, sed euismod dolor congue vel. Sed auctor aliquet velit, gravida pharetra turpis fermentum ut</p>
												<time datetime="" class="pull-left">8 minutes ago</time>
												<a href="#" class="pull-right"><i class="icon-share-alt"></i> Reply</a>
											</div>	
										</div>
									</div>
								</div>	
								<h4>Add comment</h4>
								<form class="form margin-top-15 clearfix" action="">
									<input type="text" class="span12" placeholder="Name" name="name">
									<input type="email" class="span12" placeholder="Email" name="email">
									<textarea class="span12" placeholder="Message" name="message" rows="7"></textarea>
									<button class="btn pull-right margin-top-15">Send</button>
								</form>
							</div>
						</div>
						<div class="span3">
							<form class="form">
								<div class="controls controls-row search-row">
									<input class="input-block-level" type="text" placeholder="Search">
									<button class="btn" type="button"><i class="icon-search"></i></button>
								</div>
							</form>
							<article>
								<h4 class="with-border">Categories</h4>
								<ul class="unstyled link-list">
									<li class=""><a href="#"><i class="icon-chevron-right"></i> Design</a></li>
									<li class=""><a href="#"><i class="icon-chevron-right"></i> Development</a></li>
									<li class=""><a href="#"><i class="icon-chevron-right"></i> Usability</a></li>
									<li class=""><a href="#"><i class="icon-chevron-right"></i> Support</a></li>
									<li class=""><a href="#"><i class="icon-chevron-right"></i> Advertisement</a></li>
								</ul>
							</article>	
							<article class="section">
								<h4 class="with-border">Tags</h4>
								<ul class="unstyled">
									<a href="#" class="tag btn btn-primary">Web</a>
									<a href="#" class="tag btn btn-primary">Games</a>
									<a href="#" class="tag btn btn-primary">Design</a>
									<a href="#" class="tag btn btn-primary">3D</a>
									<a href="#" class="tag btn btn-primary">jQuery</a>
									<a href="#" class="tag btn btn-primary">C++</a>
									<a href="#" class="tag btn btn-primary">Bootstrap</a>
									<a href="#" class="tag btn btn-primary">Google</a>
									<a href="#" class="tag btn btn-primary">JavaScript</a>
								</ul>
							</article>	
							<article class="section">
								<h4 class="with-border">Featured video</h4>
								<div class="videoWrapper">
									<iframe src="http://player.vimeo.com/video/20596477?color=39ae77" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
								</div>
							</article>	
							<article class="section">
								<h4 class="with-border">Popular Photos</h4>
								<ul class="footer-thumbnails unstyled clearfix">
									<li class="stream">
										<a href="#">
											<img src="http://dummyimage.com/45x45/243135/fff" alt="">
										</a>
									</li>
									<li class="stream">
										<a href="#">
											<img src="http://dummyimage.com/45x45/243135/fff" alt="">
										</a>
									</li>
									<li class="stream">
										<a href="#">
											<img src="http://dummyimage.com/45x45/243135/fff" alt="">
										</a>
									</li>
									<li class="stream">
										<a href="#">
											<img src="http://dummyimage.com/45x45/243135/fff" alt="">
										</a>
									</li>
									<li class="stream">
										<a href="#">
											<img src="http://dummyimage.com/45x45/243135/fff" alt="">
										</a>
									</li>
									<li class="stream">
										<a href="#">
											<img src="http://dummyimage.com/45x45/243135/fff" alt="">
										</a>
									</li>
									<li class="stream">
										<a href="#">
											<img src="http://dummyimage.com/45x45/243135/fff" alt="">
										</a>
									</li>
									<li class="stream">
										<a href="#">
											<img src="http://dummyimage.com/45x45/243135/fff" alt="">
										</a>
									</li>
								</ul>
							</article>	
						</div>
					</div>	
				</div>	
			</div>	
		</section>


		<div class="bottom-parallax small-view" style="background-image: url(../../griny/images/bg1.jpg);">
			<div class="black-bg">
				<div class="container">
					<div class="row-fluid">
						<div class="span9">
							<h3>Want to get started?</h3>
							<h4>Nullam iaculis dictum ullamcorper. In vitae pellentesque massa. Vivamus viverra libero dapibus, sodales lectus a, consectetur ante.</h4>
						</div>
						<div class="span3">
							<a class="btn btn-large" href="#">Contact us</a>
						</div>
					</div>
				</div>
			</div>
		</div>	
